@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Sono&display=swap");

* {
  font-family: "Sono", sans-serif;
  background-color: #111519;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #019d76;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 23px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 20px;
}

p {
  color: #ffffff;
  font-size: 16px;
}

em {
  color: #71a061;
  font-size: 18px;
}

strong {
  color: #455565;
  font-size: 17;
}

a {
  color: #017c9d;
}

li {
  color: #15b8ae;
  font-size: 15px;
  font-family: "Roboto Mono", monospace;
}

code,
span {
  font-family: "Roboto Mono", monospace;
  background: #0b0d10;
}

.vscode-light pre {
  background-color: #0b0d10;
}

.vscode-dark pre {
  background-color: #0b0d10;
}

div {
  color: #ffffff;
  background: #0b0d10;
}

table {
  color: #15b8ae;
  font-size: 15px;
  font-family: "Roboto Mono", monospace;
}

.container {
  background-color: #111519;
}

hr {
  background-color: #455565;
}
